body {
  background-color: rgb(231, 125, 125);
font-family: Open Sans;
  margin-top: 10%;
  margin-bottom: 50px;
}

#question {
  background-color: #4577af;
  color: rgb(59, 57, 57);
  padding: 50px;
  text-align: center;
  width: 500px;
  left: 50%;
  position: absolute;
  margin-left: -302px /* half of width*/;
  height: 115px;
  
}

#question h4{
  background-color: rgb(100, 83, 83);
  color: #c9ccda;
  display:inline-block;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
  height: 30px;
}

#one{
  color: black;
  width: 243px;
  border-radius: 20px;
  height: 84px;
  margin-left: 200px;
  margin-top: 300px;
  
}

#two {
    color: black;
    width: 243px;
    border-radius: 20px;
    height: 84px;
    margin-left: 475px;
    margin-top: 300px;
  }

#three {
    color: black;
    width: 243px;
    border-radius: 20px;
    height: 84px;
    margin-left: 200px;
    margin-top: 100px;
  }
  

 #four {
    color: black;
    width: 243px;
    border-radius: 20px;
    height: 84px;
    margin-left: 475px;
    margin-top: 100px;
  }
  
  


